$primary-color: #58af3a;
$primary-contrast-color: #fff;
$secondary-color: #fff;
$secondary-contrast-color: #3c3c3c;

$background-color: #22291f;
$background-contrast-color: #fff;

$background-light-color: #434343;
$background-light-contrast-color: #fff;

$muted-text-color: #a4a4a4;
